<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.led.ELEC291_PROJECT1" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ledControl"
            android:label="Main Control" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".DeviceList"
            android:label="Search Device" >
        </activity>
        <activity
            android:name=".ACtivity2"
            android:label="@string/title_activity_activity2" >
        </activity>
        <activity
            android:name=".ControllerActivity"
            android:label="@string/title_activity_controller" >
        </activity>
    </application>

</manifest>
